/* Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
  }

  html {
    scroll-behavior: smooth;
  }


/* Global Rules */
*{
    box-sizing: border-box;
}

body {
    font-family: "Work Sans" , sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }

  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }

  }

  /* Header ==>> Nav */

  .header {
    padding-top: 1rem;
  }

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 2rem;
    width: 4rem;
}

.links{
    display: none;
}


.links ul {
    display: flex;
    column-gap: 2rem;
    list-style: none;
}


.links ul li a {
    text-decoration: none;
    color: black ;
    font-size: 1.1rem;
    font-weight: bold;
}

.links ul li a:hover {
     color: var(--main-color) ;
}


.MobileLinks{
    width: 100%;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d338;
}


.MobileLinksUl ul {
    list-style: none;
}

.MobileLinksUl ul li {
    margin-top: 0.8rem;
}

.MobileLinksUl ul li:not(:last-child)  {
    border-bottom :#2c4755 2px solid ;
}


.MobileLinksUl ul li a {
    text-decoration: none;
    color: black ;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
}

.MobileLinksUl ul li a:hover {
     color: var(--main-color) ;
     padding-left: 1rem;
}

/* Small */
@media (min-width: 768px) {

    #MobileIcon{
        display:block;
    }

  }
  /* Medium */
  @media (min-width: 992px) {
    

    #MobileIcon{
        display:none;
    }

    .links{
        display: block;
    }

  }
  /* Large */
  @media (min-width: 1200px) {
    

    #MobileIcon{
        display: none;
    }

    .links{
        display: block;
    }

  }



  /* Landing Section  */
.landing {
    background-image: url(/Images/landing.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.landing .intro-text {
    max-width: 20rem;
}

.landing .intro-text h1 {
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    font-size: 3rem;
}

.landing .intro-text p {
    text-align: center;
    line-height: 1.8;
    font-size: 1.2rem;
}


/* Features */
.feature{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.feature .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(20rem , 1fr) );
    column-gap: 1rem;
    text-align: center;
}

.feature .container i{
    color: var(--main-color);
}

.feature .container p{
    line-height: 1.8;
    color: #777;
    text-align: center;
}

.feature .container .feat {
    padding-right: 3rem;
    padding-left: 3rem;
    margin-top: 2rem;
}

/* Service */
 .special-Headings {
    text-align: center;
    font-size: 7rem;
    font-weight: 800;
    color:  #ebeced;
    margin: 0;
}

.special-Headings + p {
    margin: -2rem 0 0;
    font-size: 1rem;
    text-align: center;
    color: #797979;
  }

  @media (max-width: 767px) {
    .special-Headings {
      font-size: 4rem !important;
    }
    .special-Headings + p {
      margin-top: -1.5rem;
    }
  }

  .service{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }


.ServiceParent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}

.Services-Items {
    /* width: 70%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ser {
    width: 100%;
    display: flex;
}

.Ser-Text h2 {
    font-size: 1.2rem;
    font-weight: 700;
}

.Ser-Text p {
    color: #00000080;
    font-weight: 400;
    line-height: 1.6;
}



.ser i {
    font-size: 2rem;
    margin: 1.4rem;
    color: #10cab7;
}

.ServiceImage{
    display: none;
    width: 27%;
    position: relative;
}

.ServiceImage img {
    width: 15rem;
    height: 23rem;
    margin-top: -25px;
}

.ServiceImage::before {
    content: "";
    background-color: #2c4755;
    right: 0;
    top: -3rem;
    width: 7rem;
    height: 29rem;
    position: absolute;
    z-index: -1;
}



/* Small */
@media (min-width: 768px) {

    .ServiceImage{
        display:none;
    }

    .Services-Items{
        width: 100%;
    }

    .ser {
        width: 100%;
        text-align: center;
    }

  }
  /* Medium */
  @media (min-width: 992px) {
    

    .ServiceImage{
        display:none;
    }

    .Services-Items{
        width: 100%;
    }

    .ser {
        width: 45%;
    }
    
}
/* Large */
@media (min-width: 1200px) {
    
    
    .ServiceImage {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .Services-Items{
        width: 70%;
    }

    .ser {
        width: 45%;
    }

  }


/* portfolio */
.portfolio {
    margin-top: 5rem;
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.projects div {
    width: 32%;
    background-color: white;
}

.projects div h3 {
    padding-left: 1rem;
}

.projects div p {
    padding-left: 1rem;
    line-height: 1.6rem;
    word-spacing: 2px;
    color: #797979 ;
}

.projects div img {
    width: 100%;
}

/* mobile and small  */
@media (max-width: 991px) {
    .projects div{
        width: 90%;
        margin-bottom: 2rem;
    }    
    
}

/* medium screen  */
@media (min-width : 992px) and (max-width : 1199px) {
    .projects div{
        width: 45%;
        margin-bottom: 2rem;
    }    
    
}


/* About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about-items {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}

.about-image {
    width: 25%;
    position: relative;
}

.about-image::before { 
    content: "";
    position: absolute;
    background-color: #2c4755;
    width: 8rem;
    height: 32rem;
    left: -2rem;
    top: -3rem;
    z-index: -1;
}

.about-image::after {
    top: -2.5rem;
    content: "";
    position: absolute;
    width: 5rem;
    height: 20rem;
    border-left: 5rem solid var(--main-color);
    border-bottom: 4rem solid var(--main-color);
    z-index: -1;
    right: -7rem;
}



.about-text {
    width: 55% ;
}

.about-text hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}

.about-items p:first-of-type {
    font-weight: bold;
    line-height: 2;
}

.about-items p:last-of-type {
    line-height: 2;
    color:#777 ;
}

/* mobile and small  */
@media (max-width: 991px) {
    .about-items{
        flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5rem;
    }   

    .about-image::after ,
    .about-image::before {
        display: none;
    }

    .about-image {
        width: 60%;
        text-align: center;
    }

    .about-text {
        width: 90% ;
        text-align: center;
    }
    
}

/* medium screen  */
@media (min-width : 992px) and (max-width : 1199px) {
    .about-items {
        flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10rem;
    } 

    .about-image {
        width: 30%;
        text-align: center;
    }

    .about-text {
        width: 90% ;
        text-align: center;
    }
    
}

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact-content {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact-content p {
    font-size: 2rem;
    font-weight: 800;
}

.contact-content p:first-of-type {
    color: var(--secondary-color);
}

.contact-content p a {
    color: var(--main-color);
    text-decoration: none;
}


/* Footer */
.footer{
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 2rem 1rem ;
    font-size: 1.2rem;
}

.footer-content span {
    font-weight: bold;
    color: var(--main-color);
}



  
  


