/* Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
  }


/* Global Rules */
*{
    box-sizing: border-box;
}

body {
    font-family: "Work Sans" , sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }

  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }

  }

  /* Header ==>> Nav */

  .header {
    padding-top: 1rem;
  }

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 2rem;
    width: 4rem;
}

.links{
    display: none;
}


.links ul {
    display: flex;
    column-gap: 2rem;
    list-style: none;
}


.links ul li a {
    text-decoration: none;
    color: black ;
    font-size: 1.1rem;
    font-weight: bold;
}

.links ul li a:hover {
     color: var(--main-color) ;
}


.MobileLinks{
    width: 100%;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d338;
}


.MobileLinksUl ul {
    list-style: none;
}

.MobileLinksUl ul li {
    margin-top: 0.8rem;
}

.MobileLinksUl ul li:not(:last-child)  {
    border-bottom :#2c4755 2px solid ;
}


.MobileLinksUl ul li a {
    text-decoration: none;
    color: black ;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
}

.MobileLinksUl ul li a:hover {
     color: var(--main-color) ;
     padding-left: 1rem;
}

/* Small */
@media (min-width: 768px) {

    #MobileIcon{
        display:block;
    }

  }
  /* Medium */
  @media (min-width: 992px) {
    

    #MobileIcon{
        display:none;
    }

    .links{
        display: block;
    }

  }
  /* Large */
  @media (min-width: 1200px) {
    

    #MobileIcon{
        display: none;
    }

    .links{
        display: block;
    }

  }



  /* Landing Section  */
.landing {
    background-image: url(/Images/landing.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.landing .intro-text {
    max-width: 20rem;
}

.landing .intro-text h1 {
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    font-size: 3rem;
}

.landing .intro-text p {
    text-align: center;
    line-height: 1.8;
    font-size: 1.2rem;
}


/* Features */
.feature{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.feature .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(20rem , 1fr) );
    column-gap: 1rem;
    text-align: center;
}

.feature .container i{
    color: var(--main-color);
}

.feature .container p{
    line-height: 1.8;
    color: #777;
    text-align: center;
}

.feature .container .feat {
    padding-right: 3rem;
    padding-left: 3rem;
    margin-top: 2rem;
}

/* @media (min-width: 768px) {
    .feature .container .feat {
      max-width: 100%;
    }
  }
  /* Medium */
  /* @media (min-width: 992px) {
    .feature .container .feat {
        max-width: 50%;
      }
  } */
  /* Large */
  /* @media (min-width: 1200px) {
    .feature .container .feat {
        max-width: calc( 100% / 3);
      }
  } */ 





  
  


